
<div class="status">
  <div>Spofford Partner Resources</div>
  <img src="assets/images/chevron.png">
  {{#if (eq routeName 'index')}}
  <div>Home</div>
  {{else}}
  {{#link-to 'index' tagName="div" class="highlight"}}Home{{/link-to}}
  <img src="assets/images/chevron.png">
  {{#if (eq routeName 'experiments')}}Experiments{{/if}}
  {{#if (eq routeName 'executive-summary')}}Executive Summary{{/if}}
  {{#if (eq routeName 'pitch-deck')}}Pitch Deck{{/if}}
  {{#if (eq routeName 'manufacturing-report')}}Manufacturing Report{{/if}}
  {{/if}}
</div>
