
<div class="status" {{action "showContents"}}>

  <div>The Public Sector Toolkit</div><img src="assets/images/chevron.png"><div class="highlight">{{sectionName}}</div>
</div>
<div class="contents-overlay">
  <img src="assets/images/close.png" {{action "showContents"}} />
  <div class="outline">
  <h1>The Public Sector Toolkit</h1>
    <ol class="top" type="I">
    <li><a href="#section-2">Introduction</a></li>
    <ol class="second" type="A">
        <li>Getting Started</li>
        <li>Continuing</li>
        <li>Lastly</li>
    </ol>
    <li><a href="#section-3">Continuation</a></li>
    <ol class="second" type="A">
        <li>Getting Started</li>
        <li>Continuing</li>
        <li>Lastly</li>
    </ol>
    <li><a href="#section-3">Continuation</a></li>
    <ol class="second" type="A">
        <li>Getting Started</li>
        <li>Continuing</li>
        <li>Lastly</li>
    </ol>
    <li><a href="#section-3">Continuation</a></li>
    <ol class="second" type="A">
        <li>Getting Started</li>
        <li>Continuing</li>
        <li>Lastly</li>
    </ol>
    </ol>
    </div>


</div>
