<img src="assets/images/close.png" {{action "fadeOut"}} />
<div class="text">
  Hi{{persona}}! We're excited that the same questions that interest us fascinate you too. Let's explore these questions together.
  <button {{action "fadeOut"}}>Get Started</button>
</div>
