$keppel: #3891a6;
$feldgrau: #4c5b5c;
$gargoyle: #fde74c;
$dark-terra-cotta: #db5461;
$terra-cotta: #e3655b;

$light-green: #52b74c;
$main-green: #27a520;
$dark-green: #1f8419;

$light-blue: #516a9f;
$main-blue: #264588;
$dark-blue: #1e376c;

$light-orange: #d68d53;
$main-orange: #cc7128;
$dark-orange: #a35a20;
