<!-- Intro overlay -->

{{welcome-overlay}}

{{smart-header sectionName=sectionName routeName=currentRouteName}}

{{liquid-outlet class="main-container"}}

<footer><i>Made with &#10084; for future partners of Spofford Design by <a href="http://www.amhasler.com">Adam Hasler</a></i></footer>
