<!-- Intro overlay -->

{{welcome-overlay}}
<div class="top-overlay"></div>
<div class="bottom-overlay"></div>
{{smart-header sectionName=sectionName}}


<div class="main-container">
  {{ outlet }}
</div>

<footer><i>Made with &#10084; for the City of Cambridge, Masssachusetts by <a href="http://www.amhasler.com">Adam Hasler</a></i></footer>
