<!-- Intro overlay -->


<div class="top-overlay"></div>
<div class="bottom-overlay"></div>
<header action="showContents">
  <div class="status">
    <div>Public Sector Toolkit</div><img src="assets/images/chevron.png"><div class="highlight">{{sectionName}}</div><img src="assets/images/chevron.png"><div class="highlight">{{graphName}}</div>
  </div>

</header>



<div class="main-container">
  {{ outlet }}
</div>

<footer>FOOTER</footer>
