<!-- Intro overlay -->

<div class="welcome-overlay">
  <img src="assets/images/close.png"/>
  This is the public sector toolkit!
</div>
<div class="top-overlay"></div>
<div class="bottom-overlay"></div>
{{smart-header sectionName=sectionName}}


<div class="main-container">
  {{ outlet }}
</div>

<footer>FOOTER</footer>
