<section id="section-1" title="Section One">
  {{#main-template id="first" title="Beginning" start=true ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}

  {{#main-template id="second" end="true" title="Second" ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}
</section>

<section id="section-2" title="Section Two">
  {{#main-template id="third" quote="true" title="Third" ac=ac sd=scrollDirection}}
  <blockquote>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia"</blockquote>
  <div class="attribution">&mdash;Adam Hasler</div>
  {{/main-template}}

  {{#main-template id="fourth" title="Fourth" content="true" ac=ac sd=scrollDirection}}
    <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/-iB8AoXLagY?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
  {{/main-template}}
</section>

<section id="section-3" title="Section Three">
  {{#main-template id="fifth" title="Fifth fifth" template1=true ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}

  {{#main-template id="sixth" template2=true ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}
</section>

<section id="section-4">
  {{#main-template id="seventh" template3=true ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}

  {{#main-template id="eighth" template4=true ac=ac sd=scrollDirection}}
  <p>Stumptown 90's viral, pour-over tattooed blog kinfolk mixtape yuccie kombucha pop-up banjo. Listicle taxidermy XOXO whatever fixie bespoke fashion axe farm-to-table normcore. Small batch taxidermy keffiyeh pork belly. Taxidermy food truck thundercats glossier tattooed poutine. Sartorial pitchfork kale chips keytar typewriter wolf tofu mumblecore selfies biodiesel copper mug. Prism shoreditch cornhole, portland flexitarian post-ironic deep v gochujang offal af glossier lumbersexual chia</p>
  {{/main-template}}
</section>
