

<div class="block-container">
  {{#link-to 'experiments' tagName="div" class="nav-block"}}
    <div class="inner">
      <h2>Experimental Process</h2>
    </div>
  {{/link-to}}

  {{#link-to 'executive-summary' tagName="div" class="nav-block"}}
    <div class="inner">
      <h2>Executive Summary</h2>
    </div>
  {{/link-to}}

  {{#link-to 'plan' tagName="div" class="nav-block"}}
    <div class="inner">
      <h2>Learning Everything Plan</h2>
    </div>
  {{/link-to}}

  {{#link-to 'pitch-deck' tagName="div" class="nav-block"}}
    <div class="inner">
      <h2>Presentation Slide Deck</h2>
    </div>
  {{/link-to}}
</div>
