<h1 style="text-align:center;margin-top:100px;">A Presentation Slide Deck</h1>
<p style="text-align:center;"><i>A lean start to a great story. Requests for additional information welcome, and will get additional slides.</i></p>

<iframe style="margin-bottom:100px;" src="https://docs.google.com/presentation/d/e/2PACX-1vTNgWWpaNr0CQ7GndbXuprS9qg4vrjSoCOkdwNCTS-IYK_0XI_i7lpfjA4MWy7MGxisNunxLfpw8EIc/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
