<h2 style="text-align:center;margin:100px 0px 20px;">Spofford Learns</h2>
<h3 style="text-align:center;">We live by questions, theses, and learning. The creativity, curiousity, and tenacity of our network drive us forward. Our organization is fulfilled when our members feel fulfilled.</h3>

<p>Our structure is simple, and based around projects, that are themselves based around questions and theses.</p>
<p><strong>Partners</strong> have control over organizational resources, and work get more resources and allocate available resources. They decide new projects, who manages those projects, and acquire or allocate the resources those projects need. They also have company equity and decide equity disbursement. The number of partners grows with the company's size.</p>
<p><strong>Managers</strong> have full autonomy over projects. They can request and acquire resources as needed for their projects. Managers can decide to receive equity as allotted by partners, and can hold a track toward partner, with attainment to partner as the orgnanization needs it and the partners allow.</p>
<p><strong>Associates</strong> work on a project basis and are answerable only to managers, not to partners.</p>

<h3>Current Projects</h3>
<p>Updated 10/6/1017</p>
<p><i>Squares are activities, circles are sources or resources</i></p>

<img src="/assets/images/marketing.png">
<img src="/assets/images/investor.png">
<img src="/assets/images/consumer.png">
<img src="/assets/images/Designer.png ">
<img src='/assets/images/Manufacturer.png'>
<img src="/assets/images/platform-process.png">
